@import "../../sass/mixins";
@import "../../sass/colors";

.root {
    position: relative;
    overflow: hidden;
    margin-bottom: 3rem;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    hr {
        flex: 1;
        margin-inline: 1rem;
        opacity: 0.9;
    }

    button {
        display: flex;
        align-items: center;
        width: 42px;
        height: 42px;
        @include transition(0.2s);
        transform: rotate(180deg);
        opacity: 0.9;

        &.folded {
            transform: rotate(0);
        }
    }
}

.content {
    @include transition(0.2s);
    padding-top: 0.5rem;
    overflow: hidden;
    opacity: 1;
    position: relative;

    &.folded {
        max-height: 100px;
        animation: fold 2s;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;

            cursor: pointer;

            background: linear-gradient(to top, $color_background 10%, transparentize($color_background, 0.5) 100%);
        }
    }
}

.icon {
    width: 42px;
    height: 42px;
}
