@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";

.root {
    position: relative;
    height: fit-content;
    clip-path: url(#svgPath);

    z-index: 10;

    background: linear-gradient(196.87deg, #122238 9.19%, #1d3557 100.11%);
    //box-shadow: 0 4px 51px rgba(0, 0, 0, 0.25);

    @include media-breakpoint-down(lg) {
        clip-path: url(#svgPath2);
    }

    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.content {
    padding-top: 5rem;
    padding-bottom: 10%;
}

.worksList {
    margin-top: 2.25rem;

    & > *:not(:last-child) {
        margin-bottom: 4.25rem;
    }
}

@include media-breakpoint-down(md) {
    .content {
        padding-bottom: 1.25rem;
    }

    .worksList {
        & > *:not(:last-child) {
            margin-bottom: 2.75rem;
        }
    }
}
