@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../sass/colors";
@import "../../sass/mixins";

$horizontal_padding: 3rem;
$horizontal_margin: 2rem;

.root {
    position: relative;
    padding: 4rem 0;
}

.heading {
    position: relative;
    opacity: 1;
    z-index: 5;
    margin: 1rem $horizontal_padding + $horizontal_margin;
}

.bigCircleContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-40%, 50%);

    .bigCircle {
        @include transition(1s);
        $diameter: 1300px;
        width: $diameter;
        height: $diameter;
        border-radius: 50%;
        background: linear-gradient(265.34deg + 90deg, $color_primary_variant 3.98%, $color_primary 94.23%);
    }
}

.smallCircleContainer {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(20%, -40%);

    .smallCircle {
        @include transition(1s);
        $diameter: 900px;
        width: $diameter;
        height: $diameter;
        border-radius: 50%;
        background: linear-gradient(265.34deg + 90deg, $color_accent 3.98%, $color_accent_variant 94.23%);
    }
}

.card {
    display: flex;
    padding: 2rem $horizontal_padding;
    margin: 2rem $horizontal_margin;
    flex-flow: column nowrap;
    @include glassmorph($color_primary, 32px, 0.88, 64px);
    font-size: 20pt;
    line-height: 42px;

    & > *:not(:first-child) {
        margin-top: 1rem;
    }

    .iconContainer {
        position: relative;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        height: 42px;
        width: 42px;
        opacity: 0.9;
    }

    h5,
    a {
        background: -webkit-linear-gradient(0deg, transparentize(#f1faee, 0.1), transparentize(#f1faee, 0.34));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h5 {
        font-style: normal;
        font-weight: bold;
        font-size: inherit;
        line-height: inherit;
        margin-right: 1rem;
    }

    a {
        font-style: normal;
        font-weight: normal;
        font-size: inherit;
        line-height: inherit;
        word-break: break-word;
        text-decoration: underline;

        &:hover {
            opacity: 1;
            text-decoration: underline;
            background: -webkit-linear-gradient(0deg, transparentize(#f1faee, 0.05), transparentize(#f1faee, 0.05));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    & > * {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
    }
}

.titleCol {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    flex: 0 0 auto;
    width: 25%;
}

.valueCol {
    flex: 0 0 auto;
    width: 75%;
}

@include media-breakpoint-up(xxl) {
    $horizontal_margin: 8rem;

    .root {
        .heading {
            margin: 1rem $horizontal_padding + $horizontal_margin;
        }
    }

    .card {
        margin: 2rem $horizontal_margin;
    }
}

@include media-breakpoint-down(xxl) {
    .titleCol {
        width: 30%;
    }

    .valueCol {
        width: 70%;
    }
}

@include media-breakpoint-down(xl) {
    .titleCol {
        width: 35%;
    }

    .valueCol {
        width: 65%;
    }

    .bigCircleContainer {
        .bigCircle {
            $diameter: 900px;
            width: $diameter;
            height: $diameter;
        }
    }

    .smallCircleContainer {
        .smallCircle {
            $diameter: 550px;
            width: $diameter;
            height: $diameter;
        }
    }
}

@include media-breakpoint-down(lg) {
    .titleCol {
        width: 37%;
    }

    .valueCol {
        width: 63%;
    }

    .card {
        font-size: 22px;
        line-height: 30px;

        .iconContainer {
            width: 30px;
            height: 30px;
        }
    }

    .bigCircleContainer {
        .bigCircle {
            $diameter: 900px;
            width: $diameter;
            height: $diameter;
        }
    }
    .smallCircleContainer {
        transform: translate(35%, -35%);

        .smallCircle {
            $diameter: 550px;
            width: $diameter;
            height: $diameter;
        }
    }
}

@include media-breakpoint-down(md) {
    .root {
        padding-top: 0;
    }

    .titleCol {
        width: 37%;
    }

    .valueCol {
        width: 63%;
    }

    .card {
        margin: 2rem 0;
        padding: 2rem 2rem;

        font-size: 14pt;
        line-height: 30px;

        .iconContainer {
            margin-right: 0.5rem;
        }

        h5 {
            margin-right: 0.5rem;
        }
    }

    .bigCircleContainer {
        transform: translate(-40%, 40%);

        .bigCircle {
            $diameter: 750px;
            width: $diameter;
            height: $diameter;
        }
    }
    .smallCircleContainer {
        transform: translate(40%, -50%);

        .smallCircle {
            $diameter: 500px;
            width: $diameter;
            height: $diameter;
        }
    }
}

@include media-breakpoint-down(sm) {
    .root {
        padding: 2rem 0;
    }

    .card {
        padding: 1.25rem 1.75rem;

        font-size: 13pt;

        $size: 24px;
        line-height: $size;

        .iconContainer {
            width: $size;
            height: $size;
        }
    }

    .titleCol {
        width: 15%;

        justify-content: center;

        h5 {
            display: none;
        }
    }

    .valueCol {
        width: 85%;
    }

    .heading {
        margin: 0;
    }

    .row {
    }

    .bigCircleContainer {
        transform: translate(-40%, 40%);

        .bigCircle {
            $diameter: 600px;
            width: $diameter;
            height: $diameter;
        }
    }
    .smallCircleContainer {
        transform: translate(40%, -50%);

        .smallCircle {
            $diameter: 400px;
            width: $diameter;
            height: $diameter;
        }
    }
}
