@import "../../sass/colors";
@import "../../sass/dimensions";

.root {
    position: relative;
    transition: $transition_time;
    border-radius: $button_border_radius;
    padding: 0.5rem 1.5rem;

    overflow: hidden;

    &.accent {
        background: $accent_gradient;
        @include colored_shadow($color_accent);

        &:hover:not(:disabled) {
            @include colored_shadow_intensive($color_accent);
        }
    }

    &.primary {
        background: $primary_gradient;
        @include colored_shadow($color_primary);

        &:hover:not(:disabled) {
            @include colored_shadow_intensive($color_primary);
        }
    }

    &:after {
        transition: $transition_time;
        border-radius: $button_border_radius;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        opacity: 0;
        //mix-blend-mode: soft-light;
    }

    &:disabled {
        cursor: default;

        &:after {
            opacity: 0.3;
            background: black;
        }
    }

    span {
        transition: $transition_time;
        color: $color_text;
        opacity: 0.85;

        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
    }

    &:hover:not(:disabled) {
        cursor: pointer;
        transform: translateY(-2px);

        span {
            //opacity: 1;
        }
    }

    &:focus {
        &:after {
            opacity: 0.1;
        }
    }

    &:focus:active {
        &:after {
            opacity: 0.2;
        }
    }
}
