@import "sass/colors";

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: $color_text;
}

html, body, #root {
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    color: $color_text;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-decoration: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    /*font-weight: 500;*/
    line-height: 1.2;
}

h3 {
    font-size: 1.75rem;
}

/*code {*/
/*    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/
